<!DOCTYPE html>
<html>
<head><title>{{ page_title }}</title></head>
<body>
    <h1>{{ page_title }}</h1>
    <p>Hostname: {{ ansible_facts['hostname'] }}</p>
    <p>OS: {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}</p>
    <p>Web Server: nginx/1.24.0 (Ubuntu)</p>
</body>
</html>
